**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/.env*
!.env.example
**/node_modules
frontend/app/build
frontend/app/.svelte-kit
src/FamilyCoordinationApp/wwwroot/_app
src/FamilyCoordinationApp/wwwroot/index.html
src/FamilyCoordinationApp/wwwroot/manifest.json
src/FamilyCoordinationApp/wwwroot/service-worker.js
**/.idea
