**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/.env*
!.env.example
**/node_modules
frontend/shopping-list/dist
frontend/app/build
frontend/app/.svelte-kit
src/FamilyCoordinationApp/wwwroot/islands
src/FamilyCoordinationApp/wwwroot/app
**/.idea
